extends layout

block scripts
	script(src='/javascripts/scripts.js')

block content
	p All reviews

	ul
		each review, index in reviews
			li
				ul
					li
						a(href="/review/#{review.id}") view
					li= review.name
					li= review.placeType
					li= review.stars
					li
						button(type="button", onclick="Remove(#{review.id})" ) delete